@media (min-width: 1600px) {}






@media (max-width:767px) {

/* ********************* */
/* Footer */
/* ********************* */
.footer-logo-1 img{
    width: 120px;
    padding: 10px;
}

.footer-logo-2 img{
    width: 160px;
    padding: 10px;
}
.footer-menu{
    padding: 5px;
}

.footer-menu a{
    padding: 5px;
    font-size: 12px;
}
.main {
    padding: 0px 0px;
  }
  #map {
    width: calc(100% - 2px);
    height: 60vh;
  }
  /* .leaflet-control-attribution {
    background-color: yellow !important;
    font-size: 12px !important;
    width: 100vw;
  } */


.data-table {
    display: block;
    margin: 2px 0;
  }

  table {
    text-align: center;
    font-size: 12px;
    width: 95%;
  }

  td,
  th {
    border: 1px solid #000000;
    text-align: left;
    padding: 2px;
  }

  .section {
    margin: 20px;
  }
  .section-heading{
    font-size: 14px;
}
.contact-us-form{
    margin: 20px 0;
    padding: 0px;
}
.contact-image{
    margin-bottom: 0px;
}
.contact-image img{
    width: 100%;

}
.contact-image-caption p{
    margin-bottom: 30px;
    text-align: right;
}

.row{
    display: flex;
    margin-top: 0px;
    flex-direction: column;
}
.column-3{
    width: 100%;
}
.column-6{
    width: 100%;
}
/* Time Series */
.Timeseries-container{
    margin: 0px;
    /* width: 100px; */
    display: block;
    text-align: center;
    /* max-width: 1100px; */
}
.sitevisitorContainer a{
    font-size: 14px;
    
  }
  
  .sitevisitorContainer{
    margin: 1rem;
  }
  .sitevisitor-item {
    margin: 1rem auto;
    max-width: 100%;
    max-height: 500px;
    overflow: hidden;
  }
  

}



@media (max-width:500px) {
    /* Legend */
.item-heading{
    font-size: 12px;
  }
.legend {
    padding: 10px 15px;  
}
.map-heading{
    font-size: 10px;

}
.date-heading{
    font-size: 14px;
}

.legend-item{
    display: flex;

}
.legend-color-value{
    font-size: 10px;
}
.legend-color i {
    width: 50%;
    height: 20px;
    border: black 0.5px solid;
}

.legend-num-value{
    font-size: 10px;
}
.report-drought p{
    font-size: 14px;
}
.leaflet-control-attribution {
    background-color: yellow !important;
    font-size: 12px !important;
    font-family: 'Source Sans Pro', sans-serif;
  }
/* .leaflet-touch .leaflet-control-layers-toggle {
    width: 30px;
    height: 30px;
    }
.leaflet-retina .leaflet-control-layers-toggle {
	background-size: 20px 20px !important;
	} */


.news-card {
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    background: var(--light_gray);
    padding: 15px;
    margin: 5px;

}

.news-card-header h4 {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}




}





@media (max-width:390px) {}